body{
    margin:0;
    padding:0;
    background:#1976d2;
    font-family:Arial;
}

.container{
    width:90%;
    max-width:400px;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

button{
    width:100%;
    padding:15px;
    border:none;
    background:#1565c0;
    color:white;
    border-radius:8px;
    font-size:18px;
}
#reader{
    width:100%;
    max-width:300px;
    margin:20px auto;
}

#hasilQR{
    font-size:18px;
    font-weight:bold;
    color:#1565c0;
}
